version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile 
    container_name: cryptobot_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - cryptobot_net

  dashboard:
    build:
      context: ./dashboard
    container_name: cryptobot_dashboard
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - api
    networks:
      - cryptobot_net

  mlflow:
    image: python:3.12-slim
    container_name: cryptobot_mlflow
    working_dir: /app
    volumes:
      - /home/ubuntu/mlflow_data/mlruns:/mlruns
    environment:
      - MLFLOW_TRACKING_URI=file:/mlruns
      - MLFLOW_UI_ALLOWED_HOSTS=3.252.142.131,localhost,127.0.0.1
    command: >
        sh -c "pip install --no-cache-dir mlflow &&
            mlflow ui
              --backend-store-uri file:/mlruns
              --host 0.0.0.0
              --port 5000
              --allowed-hosts '*' 
              --cors-allowed-origins '*'"
    ports:
      - "5000:5000"
    networks:
      - cryptobot_net
    restart: unless-stopped



networks:
  cryptobot_net:
