version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile 
    container_name: cryptobot_api
    ports:
      - "8000:8000"
    env_file:
      - /home/ubuntu/cryptobot_env/.env
    networks:
      - cryptobot_net

  dashboard:
    build:
      context: ./dashboard
    container_name: cryptobot_dashboard
    ports:
      - "8501:8501"
    env_file:
      - /home/ubuntu/cryptobot_env/.env
    depends_on:
      - api
    networks:
      - cryptobot_net

  mlflow:
    image: python:3.12-slim
    container_name: cryptobot_mlflow
    working_dir: /app
    volumes:
      - /home/ubuntu/mlflow_data/mlruns:/mlruns
    environment:
      - MLFLOW_TRACKING_URI=file:/mlruns
      - MLFLOW_UI_ALLOWED_HOSTS=3.252.142.131,localhost,127.0.0.1
    command: >
        sh -c "pip install --no-cache-dir mlflow &&
            mlflow ui
              --backend-store-uri file:/mlruns
              --host 0.0.0.0
              --port 5000
              --allowed-hosts '*' 
              --cors-allowed-origins '*'"
    ports:
      - "5000:5000"
    networks:
      - cryptobot_net
    restart: unless-stopped


  node-exporter:
    image: prom/node-exporter:latest
    container_name: cryptobot_node_exporter
    command:
      - --path.rootfs=/host
    volumes:
      - /:/host:ro,rslave
    networks:
      - cryptobot_net
    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cryptobot_cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - cryptobot_net
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: cryptobot_prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
    ports:
      - "9090:9090"
    networks:
      - cryptobot_net
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: cryptobot_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=ChangeMeStrongPassword
    networks:
      - cryptobot_net
    depends_on:
      - prometheus
    restart: unless-stopped


networks:
  cryptobot_net:

volumes:
  prometheus_data:
  grafana_data:
