name: Tests - Python sanity checks

on:
  push:
    branches:
      - main

jobs: 
  run-cryptobot:
    runs-on: self-hosted
    env:
      MLFLOW_TRACKING_URI: "file:/home/ubuntu/mlruns"

    steps: 
      - name: Checkout du code
        uses: actions/checkout@v4
        with:
          clean: false  # IMPORTANT : n'efface plus le dossier local du runner
      
      - name: Créer l'environnement virtuel et installer les dépendances
        run: |
          rm -rf .venv
          python3 -m venv .venv
          .venv/bin/pip install --upgrade pip
          .venv/bin/pip install -r requirements.txt

      - name: Lancer le script de collecte
        run: |
          chmod 775 collect_data/collect_data.sh
          .venv/bin/python collect_data/bot.py

      - name: Lancer le script de features
        run: |
          .venv/bin/python collect_data/generate_features.py
